Repository woowacourse/prolog, pull requests merged in 2021-09, with the labels that each got.

#346 백엔드 로깅을 도입한다.
  backend/src/acceptanceTest/resources/application.yml
  backend/src/acceptanceTest/resources/logback-spring.xml
  backend/src/acceptanceTest/resources/logback/console-logger.xml
  backend/src/main/java/wooteco/prolog/common/exception/ExceptionController.java
  backend/src/main/java/wooteco/prolog/common/exception/ExceptionDto.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback/access-logger.xml
  backend/src/main/resources/logback/console-access-logger.xml
  backend/src/main/resources/logback/console-logger.xml
  backend/src/main/resources/logback/debug-logger.xml
  backend/src/main/resources/logback/error-logger.xml
  backend/src/main/resources/logback/info-logger.xml
  backend/src/main/resources/logback/warn-logger.xml
Labels: backend

#351 fix: 글 추가 페이지에서 제목이 잘리는 버그 수정
  frontend/src/components/Card/EditPostCard.js
  frontend/src/components/Card/NewPostCard.styles.js
Labels: bug, frontend

#352 feat: 내 글에서 수정/삭제 기능 추가
  frontend/src/hooks/usePost.js
  frontend/src/pages/EditPostPage/index.js
  frontend/src/pages/PostPage/index.js
  frontend/src/pages/PostPage/styles.js
Labels: enhancement, frontend

#357 feat: GNB 드롭다운 메뉴에 내 학습로그 보기 링크 추가
  frontend/src/App.js
  frontend/src/components/NavBar/NavBar.js
  frontend/src/pages/ProfilePage/index.js
Labels: enhancement, frontend

#361 로컬 및 테스트환경에서 es를 띄우지 않고 가짜 데이터를 응답받도록 한다.
  backend/.gitignore
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/common/ElasticSearchLocalConfig.java
  backend/src/main/java/wooteco/prolog/studyLogDocument/domain/FakeStudyLogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studyLogDocument/domain/StudyLogDocumentRepository.java
  backend/src/main/java/wooteco/support/fake/FakeDocumentRepository.java
  backend/src/main/resources/application-dev.yml
  backend/src/test/java/wooteco/prolog/common/DataInitializer.java
  backend/src/test/java/wooteco/prolog/studyLogDocument/application/StudyLogDocumentServiceTest.java
Labels: backend

#359 마크다운 에디터 개선
  frontend/package.json
  frontend/src/components/Card/EditPostCard.js
  frontend/src/components/Card/NewPostCard.js
  frontend/src/components/Card/NewPostCard.styles.js
  frontend/src/pages/NewPostPage/styles.js
  frontend/src/pages/PostPage/index.js
  frontend/src/pages/PostPage/styles.js
  frontend/yarn.lock
Labels: enhancement, frontend

#363 elasticsearch와 mysql의 학습로그 정보를 동기화 한다.
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/DocumentLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/studyLogDocument/application/StudyLogDocumentService.java
  backend/src/main/java/wooteco/prolog/studyLogDocument/domain/FakeStudyLogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/SearchArgumentResolver.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/StudylogsSearchRequest.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogDocument.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/FakeStudylogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/exception/StudylogDocumentNotFoundException.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogDocumentController.java
  backend/src/test/java/wooteco/prolog/studyLogDocument/application/StudyLogDocumentServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogDocumentServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/fixture/StudyLogDocumentTestFixture.java
Labels: backend

#368 feat: 제목 및 내용 검색 기능 구현
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/DocumentLoaderApplicationListener.java
  frontend/src/components/@shared/FlexBox/FlexBox.js
  frontend/src/components/@shared/Icons/CancelIcon.js
  frontend/src/components/Chip/Chip.js
  frontend/src/components/Chip/Chip.styles.js
  frontend/src/components/FilterList/FilterList.js
  frontend/src/components/NavBar/NavBar.js
  frontend/src/components/SearchBar/SearchBar.js
  frontend/src/components/SearchBar/SearchBar.styles.js
  frontend/src/hooks/useFilterWithParams.js
  frontend/src/pages/MainPage/index.js
  frontend/src/pages/MainPage/styles.js
  frontend/src/pages/ManageAbilityPage/index.js
  frontend/src/pages/ProfilePagePosts/index.js
  frontend/src/pages/ProfilePagePosts/styles.js
  frontend/src/service/requests.js
Labels: enhancement, frontend

#380 fix: ProfilePage에서 글 목록 안 나타나는 현상 수정
  frontend/src/pages/MainPage/index.js
  frontend/src/pages/ProfilePage/index.js
  frontend/src/pages/ProfilePage/styles.js
  frontend/src/pages/ProfilePagePosts/index.js
  frontend/src/service/requests.js
Labels: bug, frontend

#382 학습로그 검색 기능 버그 수정 및 전반적 기능 변경
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/studylog/application/AbstractStudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/DocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/FakeStudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/TagService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogDocumentPagingDto.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogsResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/SearchArgumentResolver.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogDocument.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogDocumentQueryBuilder.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogTags.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/FakeStudylogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogDocumentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogSpecification.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogDocumentController.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-test.yml
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogDocumentServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/fixture/StudyLogDocumentTestFixture.java
Labels: bug, enhancement, backend

#410 refactor: 컨버터 수정 및 넘버 유틸 패키지 변경
  backend/src/main/java/wooteco/prolog/common/WebConverterConfig.java
  backend/src/main/java/wooteco/prolog/member/ui/LocalDateConverter.java
  backend/src/main/java/wooteco/prolog/member/ui/MonthConverter.java
  backend/src/main/java/wooteco/prolog/studylog/ui/ProfileStudylogController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudyLogOverviewController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/main/java/wooteco/support/number/NumberUtils.java
Labels: refactoring

#413 feat: open graph를 설정한다.
  frontend/package-lock.json
  frontend/public/index.html
Labels: frontend

#417 [리포트] 선택된 학습로그들을 불러오는 API를 구현한다.
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog.feature
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/SearchArgumentResolver.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/StudylogsSearchRequest.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
Labels: backend

#412 SearchArgumentResolver 및 검색 api에서 날짜 범위 검색 기능을 추가한다.
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog.feature
  backend/src/documentation/adoc/studylog.adoc
  backend/src/documentation/java/wooteco/prolog/docu/StudylogDocumentation.java
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/studylog/application/FakeStudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/SearchArgumentResolver.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogDocumentQueryBuilder.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogSpecification.java
  backend/src/main/java/wooteco/prolog/studylog/exception/SearchArgumentParseException.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
Labels: backend

#420 오버뷰 페이지에서 태그/달력 선택 시 페이지 초기화가 되지 않는 버그 수정
  frontend/src/pages/ProfilePage/index.js
  frontend/src/service/requests.js
Labels: bug, frontend

#421 회원 닉네임 수정 기능 추가
  frontend/src/GlobalStyles.js
  frontend/src/components/NavBar/NavBar.js
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.js
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.styles.js
  frontend/src/pages/MainPage/index.js
  frontend/src/service/requests.js
Labels: frontend

#419 역량 API를 구현한다.
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/AbilityAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/AbilityStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/ability.feature
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/common/exception/ExceptionDto.java
  backend/src/main/java/wooteco/prolog/member/application/MemberService.java
  backend/src/main/java/wooteco/prolog/member/domain/Member.java
  backend/src/main/java/wooteco/prolog/member/ui/MemberController.java
  backend/src/main/java/wooteco/prolog/studylog/application/AbilityService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ability/AbilityCreateRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ability/AbilityResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ability/AbilityUpdateRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ability/ChildAbilityDto.java
  backend/src/main/java/wooteco/prolog/studylog/domain/ablity/Ability.java
  backend/src/main/java/wooteco/prolog/studylog/domain/ablity/AbilityRelationship.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/Report.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/ReportedAbility.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/AbilityRepository.java
  backend/src/main/java/wooteco/prolog/studylog/exception/AbilityHasChildrenException.java
  backend/src/main/java/wooteco/prolog/studylog/exception/AbilityNotFoundException.java
  backend/src/main/java/wooteco/prolog/studylog/ui/AbilityController.java
  backend/src/test/java/wooteco/prolog/login/domain/MemberTest.java
  backend/src/test/java/wooteco/prolog/member/application/MemberServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/application/AbilityServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/ablity/AbilityTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/repository/AbilityRepositoryTest.java
Labels: backend

#415 리포트 API를 구현한다.
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/AbilityFixture.java
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/studylog/application/ReportService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/SimpleReportResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/ReportAssembler.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/request/ReportRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/request/abilitigraph/AbilityRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/request/abilitigraph/GraphRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/request/studylog/StudylogRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/ReportResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/SimpleReportResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/abilityGraph/GraphAbilityResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/abilityGraph/GraphResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/studylogs/StudylogAbilityResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/report/response/studylogs/StudylogResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/report/AllReportsRequestType.java
  backend/src/main/java/wooteco/prolog/studylog/application/report/ReportsRequestType.java
  backend/src/main/java/wooteco/prolog/studylog/application/report/SimpleReportsRequestType.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/Report.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/abilitygraph/AbilityGraph.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/abilitygraph/ReportedAbilities.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/abilitygraph/ReportedAbility.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/abilitygraph/datastructure/GraphAbility.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/common/Updatable.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/common/UpdatableProxy.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/common/UpdateUtil.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/studylog/ReportedStudylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/studylog/ReportedStudylogAbility.java
  backend/src/main/java/wooteco/prolog/studylog/domain/report/studylog/ReportedStudylogs.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/ReportRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/ReportController.java
  backend/src/test/java/wooteco/prolog/common/fixture/ability/AbilityFixture.java
  backend/src/test/java/wooteco/prolog/common/fixture/level/LevelFixture.java
  backend/src/test/java/wooteco/prolog/common/fixture/member/MemberFixture.java
  backend/src/test/java/wooteco/prolog/common/fixture/misstion/MissionFixture.java
  backend/src/test/java/wooteco/prolog/common/fixture/report/ReportFixture.java
  backend/src/test/java/wooteco/prolog/common/fixture/studylog/StudylogFixture.java
  backend/src/test/java/wooteco/prolog/studylog/application/ReportServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/repository/ReportRepositoryTest.java
  backend/src/test/resources/jsons/report_post_request.json
  backend/src/test/resources/jsons/report_post_response.json
  backend/src/test/resources/jsons/report_put_request.json
  backend/src/test/resources/jsons/report_put_response.json
Labels: backend

#431 fix: 안되던 테스트 수정
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudyLogOverviewStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/studylogOverview.feature
Labels: bug, backend

#434 [CI] PR 검증을 위한 SonarCloude를 적용한다.
  .github/workflows/sonar-build.yml
  backend/build.gradle
  settings.gradle
Labels: backend

#436 test: 멤버별 역량조회 인수테스트 작성
  backend/src/acceptanceTest/java/wooteco/prolog/steps/MemberStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/member.feature
Labels: backend

#437 개발자 도구에 보이는 경고 해결
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/@shared/Icons/CancelIcon.js
  frontend/src/components/Button/Button.js
  frontend/src/components/Button/PageButton.js
  frontend/src/components/NavBar/NavBar.js
  frontend/src/components/NavBar/NavBar.styles.js
  frontend/src/components/ProfileChip/ProfileChip.js
  frontend/src/components/SelectBox/SelectBox.js
  frontend/src/pages/NewPostPage/index.js
  frontend/src/pages/PostPage/index.js
  frontend/src/pages/ProfilePage/styles.js
Labels: frontend

#438 다른 사람의 닉네임을 수정할 수 있는 버그 해결
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.js
Labels: bug, frontend

#428 필터 고도화(필터 검색 및 작성자 검색 기능 추가) 기능 구현
  backend/src/main/java/wooteco/prolog/member/application/MemberService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/TagService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/FilterResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/SearchArgumentResolver.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/search/StudylogsSearchRequest.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogSpecification.java
  backend/src/main/java/wooteco/prolog/studylog/ui/FilterController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/ProfileStudylogController.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  frontend/src/components/FilterList/FilterList.js
  frontend/src/components/FilterList/FilterList.styles.js
  frontend/src/components/FilterList/SelectedFilterList.js
  frontend/src/components/SearchBar/SearchBar.js
  frontend/src/components/SearchBar/SearchBar.styles.js
  frontend/src/hooks/useFilterWithParams.js
  frontend/src/pages/MainPage/index.js
Labels: enhancement, backend, frontend
