Repository woowacourse/prolog, pull requests merged in 2021-12, with the labels that each got.

#605 refactor: Router, MainPage 리팩토링
  frontend/src/App.js
  frontend/src/components/Card/Card.js
  frontend/src/components/Lists/StudyLogList.styles.ts
  frontend/src/components/Lists/StudyLogList.tsx
  frontend/src/components/ProfileChip/ProfileChip.js
  frontend/src/components/ProfileChip/ProfileChip.stories.js
  frontend/src/pages/MainPage/index.js
  frontend/src/pages/MainPage/styles.js
  frontend/src/routes.js
  frontend/src/types/type.d.ts
Labels: frontend, refactoring

#606 fix: 프로필 페이지 학습로그 필터에서 멤버 필터 삭제
  frontend/src/pages/ProfilePagePosts/index.js
  frontend/src/utils/object.ts
Labels: bug, frontend

#623 feat: actuator 및 prometheus 설정 추가
  backend/build.gradle
  backend/src/main/resources/application.yml
Labels: backend

#624 [사용자리액션] 조회수 증가기능을 추가한다.
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog.feature
  backend/src/main/java/wooteco/prolog/member/domain/Member.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/ViewCount.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  frontend/src/assets/images/view.svg
  frontend/src/components/Button/Button.js
  frontend/src/components/Lists/StudyLogList.tsx
  frontend/src/components/ViewCount/ViewCount.styles.ts
  frontend/src/components/ViewCount/ViewCount.tsx
  frontend/src/pages/PostPage/index.js
  frontend/src/styles/flex.styles.js
  frontend/src/types/type.d.ts
Labels: backend

#625 fix: 역량 수정 및 등록시에 유효성 검증 로직 추가
  frontend/src/constants/message.js
  frontend/src/pages/AbilityPage/AddAbilityForm.js
  frontend/src/pages/AbilityPage/EditAbilityForm.js
  frontend/src/pages/AbilityPage/index.js
  frontend/src/pages/AbilityPage/styles.js
  frontend/src/utils/hexCode.ts
Labels: bug, frontend
