Repository woowacourse/prolog, pull requests merged in 2021-10, with the labels that each got.

#440 [ #258] /member/me 를 [GET, PUT] /member/{username} 으로 변경한다.
  backend/src/acceptanceTest/java/wooteco/prolog/AcceptanceContext.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/LoginStepDefinitions.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/MemberStepDefinitions.java
  backend/src/documentation/java/wooteco/prolog/docu/LoginDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/MemberDocumentation.java
  backend/src/main/java/wooteco/prolog/member/application/MemberService.java
  backend/src/main/java/wooteco/prolog/member/ui/MemberController.java
  backend/src/test/java/wooteco/prolog/member/application/MemberServiceTest.java
Labels: backend

#445 fix: 삭제된 닉네임 수정 기능 코드 삽입
  frontend/src/GlobalStyles.js
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.js
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.styles.js
  frontend/src/service/requests.js
Labels: bug, frontend, refactoring

#446 fix: 스크랩 후 개별 조회시 true가 반환되도록 수정
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
Labels: backend

#472 fix: 리포트 제목 문자열 양 끝 공백 제거
  frontend/src/pages/ProfilePageNewReport/index.js
Labels: bug, frontend

#483 feat: 적합하지 않은 JWT 토큰 parsing 시 예외를 catch하는 로직 추가
  backend/src/main/java/wooteco/prolog/login/application/JwtTokenProvider.java
  backend/src/test/java/wooteco/prolog/login/application/JwtTokenProviderTest.java
Labels: backend

#494 chore: 프론트엔드 타입스크립트 의존성 추가
  .gitignore
  frontend/package.json
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#498 hotfix: 학습로그 수정시 글이 불러와 지지 않는 이슈 해결
  frontend/src/pages/EditPostPage/index.js
Labels: frontend, hotfix

#506 [#503] 리포트 역량 그래프 API에서 노출 여부를 결정하는 변수 이름을 통일한다.
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ReportStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/report.feature
  backend/src/documentation/java/wooteco/prolog/docu/ReportDocumentation.java
  backend/src/main/java/wooteco/prolog/report/application/ReportService.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/ReportAssembler.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/request/abilitigraph/AbilityRequest.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/response/ability_graph/GraphAbilityResponse.java
  backend/src/test/resources/jsons/report_post_request.json
  backend/src/test/resources/jsons/report_post_response.json
  backend/src/test/resources/jsons/report_put_request.json
  backend/src/test/resources/jsons/report_put_response.json
Labels: backend, refactoring

#514 feat: 리포트에 그래프를 추가한다.
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ReportStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/report.feature
  backend/src/documentation/java/wooteco/prolog/docu/ReportDocumentation.java
  backend/src/main/java/wooteco/prolog/report/application/ReportService.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/ReportAssembler.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/request/abilitigraph/AbilityRequest.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/response/ReportResponse.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/response/ability_graph/GraphAbilityResponse.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/response/ability_graph/GraphResponse.java
  backend/src/main/java/wooteco/prolog/report/domain/report/abilitygraph/GraphAbilities.java
  backend/src/main/java/wooteco/prolog/report/domain/report/abilitygraph/GraphAbility.java
  backend/src/main/java/wooteco/prolog/report/domain/report/abilitygraph/datastructure/GraphAbilityDto.java
  backend/src/test/resources/jsons/report_post_request.json
  backend/src/test/resources/jsons/report_post_response.json
  backend/src/test/resources/jsons/report_put_request.json
  backend/src/test/resources/jsons/report_put_response.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/@shared/FlexBox/FlexBox.js
  frontend/src/components/Charts/Chart.styles.ts
  frontend/src/components/Charts/DonutChart.tsx
  frontend/src/components/Charts/DonutChartForm.styles.ts
  frontend/src/components/Charts/DonutChartForm.tsx
  frontend/src/components/ProfilePageSideBar/ProfilePageSideBar.js
  frontend/src/components/ProfilePageSideBar/getMenuList.ts
  frontend/src/constants/errorCode.js
  frontend/src/constants/input.js
  frontend/src/constants/message.js
  frontend/src/constants/path.js
  frontend/src/hooks/useMutation.js
  frontend/src/hooks/useRequest.js
  frontend/src/pages/AbilityPage/index.js
  frontend/src/pages/ProfilePageEditReport/index.js
  frontend/src/pages/ProfilePageNewReport/index.js
  frontend/src/pages/ProfilePageReports/AbilityGraph.styles.ts
  frontend/src/pages/ProfilePageReports/AbilityGraph.tsx
  frontend/src/pages/ProfilePageReports/Report.js
  frontend/src/pages/ProfilePageReports/index.js
  frontend/src/pages/ProfilePageReportsList/index.tsx
  frontend/src/pages/ProfilePageReportsList/styles.ts
  frontend/src/utils/canvas.ts
  frontend/src/utils/colors.ts
  frontend/type.d.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#512 [#481] 신입 온보딩 - 코다 인수테스트 리팩토링 PR
  backend/src/acceptanceTest/java/wooteco/prolog/steps/MemberStepDefinitions.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ProfileStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/profile.feature
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog.feature
Labels: backend, refactoring

#523 [검색] elasticsearch index mapping을 코드에 포함한다.
  search/mapping-index-and-sync/HELP.md
  search/mapping-index-and-sync/mapping-index-and-sync.sh
Labels: backend

#526 [리포트] 리포트의 학습로그 역량을 부모-자식으로 정렬하여 반환한다. #508
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ReportStepDefinitions.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/ReportAssembler.java
  backend/src/main/java/wooteco/prolog/report/domain/report/abilitygraph/GraphAbilities.java
  backend/src/main/java/wooteco/prolog/report/domain/report/abilitygraph/datastructure/GraphAbilityDto.java
  backend/src/test/java/wooteco/prolog/common/fixture/ability/AbilityFixture.java
  backend/src/test/java/wooteco/prolog/studylog/application/ReportServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/repository/ReportRepositoryTest.java
  backend/src/test/resources/jsons/report_post_request.json
  backend/src/test/resources/jsons/report_post_response.json
  backend/src/test/resources/jsons/report_put_response.json
Labels: backend, refactoring

#527 [리포트] IllegalArgumentException을 CustomException으로 변경한다. #509
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/report/application/ReportService.java
  backend/src/main/java/wooteco/prolog/report/application/dto/report/ReportAssembler.java
  backend/src/main/java/wooteco/prolog/report/exception/GraphAbilitiesAreNotParentException.java
  backend/src/main/java/wooteco/prolog/report/exception/ReportNotFoundException.java
  backend/src/main/java/wooteco/prolog/report/exception/ReportRequestTypeException.java
  backend/src/main/java/wooteco/prolog/report/exception/ReportUpdateException.java
Labels: backend, refactoring

#532 [리포트] 업데이트 관련 로직을 변경한다. #531
  backend/src/main/java/wooteco/prolog/report/domain/report/common/UpdateUtil.java
Labels: backend

#537 [리포트] 리포트 조회 시 대표 리포트를 최 상위로 정렬한다. #535
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ReportStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/report.feature
  backend/src/main/java/wooteco/prolog/report/application/report/AllReportsRequestType.java
  backend/src/main/java/wooteco/prolog/report/application/report/ReportsRequestType.java
  backend/src/main/java/wooteco/prolog/report/application/report/SimpleReportsRequestType.java
  backend/src/main/java/wooteco/prolog/report/domain/report/repository/ReportRepository.java
Labels: backend, refactoring

#522 feat: 리포트 목록 페이지를 구현한다.
  frontend/src/GlobalStyles.js
  frontend/src/components/Chip/Chip.js
  frontend/src/components/Pagination/Pagination.js
  frontend/src/constants/index.js
  frontend/src/constants/requestType.js
  frontend/src/pages/ProfilePageReports/AbilityGraph.tsx
  frontend/src/pages/ProfilePageReports/index.js
  frontend/src/pages/ProfilePageReports/styles.js
  frontend/src/pages/ProfilePageReportsList/index.tsx
  frontend/src/pages/ProfilePageReportsList/styles.ts
  frontend/src/service/requests.js
Labels: frontend

#543 fix: API 변경에 따른 데이터 응답구조 처리 부분 에러 처리
  frontend/src/hooks/useRequest.js
  frontend/src/pages/ProfilePageReports/index.js
  frontend/src/pages/ProfilePageReportsList/index.tsx
Labels: bug, frontend

#545 feat: 초기 역량 등록 기능 추가
  frontend/public/assets/images/ability-be.png
  frontend/public/assets/images/ability-fe.png
  frontend/public/assets/images/select-default-ability-bg.png
  frontend/src/App.js
  frontend/src/assets/images/ability-be.png
  frontend/src/assets/images/ability-fe.png
  frontend/src/assets/images/select-default-ability-bg.png
  frontend/src/constants/localStorage.js
  frontend/src/constants/message.js
  frontend/src/hooks/useMutation.js
  frontend/src/pages/AbilityPage/AbilityListItem.js
  frontend/src/pages/AbilityPage/AddAbilityForm.js
  frontend/src/pages/AbilityPage/NoAbility.js
  frontend/src/pages/AbilityPage/SubAbilityListItem.js
  frontend/src/pages/AbilityPage/index.js
  frontend/src/pages/AbilityPage/styles.js
  frontend/src/service/requests.js
Labels: enhancement, frontend

#563 fix: 사파리에서 리포트 작성 시 그래프 역량의 노출 여부가 적용되지 않는 이슈 해결
  frontend/src/components/Charts/DonutChartForm.tsx
Labels: bug, frontend

#565 [리포트] 리포트 이름 길이를 30자로 늘린다.
  backend/src/main/java/wooteco/prolog/report/domain/report/Report.java
Labels: backend, refactoring
