Repository woowacourse/prolog, pull requests merged in 2021-11, with the labels that each got.

#569 feat: 리포트 수정, 생성 시 학습로그 추가 모달 레벨 필터에 전체보기 추가
  frontend/src/hooks/useUserStudyLogs.js
  frontend/src/pages/ProfilePageNewReport/StudyLogModal.js
Labels: enhancement, frontend

#570 feat: 리포트 학습로그 목록에 역량을 추가한다.
  frontend/src/components/Chip/Chip.js
  frontend/src/components/Chip/Chip.styles.js
  frontend/src/pages/ProfilePageEditReport/index.js
  frontend/src/pages/ProfilePageNewReport/ReportStudyLogTable.js
  frontend/src/pages/ProfilePageNewReport/ReportStudyLogTable.styles.js
  frontend/src/pages/ProfilePageNewReport/index.js
  frontend/src/pages/ProfilePageReports/ReportStudyLogTable.js
  frontend/src/pages/ProfilePageReports/ReportStudyLogTable.styles.js
Labels: enhancement, frontend

#573 feat: elasticsearch 인증 설정 추가
  backend/src/main/java/wooteco/prolog/common/ElasticSearchConfig.java
Labels: backend

#568 [#481] 신입 온보딩 - 바다 인수테스트 리팩터링 PR
  backend/src/acceptanceTest/java/wooteco/prolog/steps/AbilityStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/ability.feature
  backend/src/acceptanceTest/resources/wooteco/prolog/report.feature
  backend/src/main/java/wooteco/prolog/report/ui/AbilityController.java
Labels: backend, refactoring

#567 refactor: @MemberOnly 에 LoginMember 없어도 되게끔 수정
  backend/src/main/java/wooteco/prolog/login/aop/LoginMemberVerifier.java
  backend/src/main/java/wooteco/prolog/login/aop/MemberAuthorityCache.java
  backend/src/main/java/wooteco/prolog/login/ui/AuthMemberPrincipalArgumentResolver.java
Labels: enhancement, backend
