Repository woowacourse/prolog, pull requests merged in 2022-04, with the labels that each got.

#745 fix: userContext의 DEFAULT_USER 수정 및 불필요한 useEffect 삭제
  frontend/src/contexts/UserProvider.js
Labels: bug, frontend

#846 feat: 임시저장 기능 구현
  backend/src/main/java/wooteco/prolog/member/domain/Member.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogTempResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogTag.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogTags.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogTemp.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogTempRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/main/resources/db/migration/prod/V22__create_studylogtemp_table.sql
Labels: enhancement, backend

#847 feat: 학습로그 에디터를 개선한다.
  frontend/src/GlobalStyles.js
  frontend/src/PageRouter.tsx
  frontend/src/apis/studylogs.ts
  frontend/src/components/Card/EditStudylogCard.js
  frontend/src/components/Card/NewStudylogCard.js
  frontend/src/components/Card/NewStudylogCard.styles.js
  frontend/src/components/Controls/SelectBox.tsx
  frontend/src/components/CreatableSelectBox/CreatableSelectBox.js
  frontend/src/components/Editor/Editor.styles.ts
  frontend/src/components/Editor/Editor.tsx
  frontend/src/components/Editor/Sidebar.tsx
  frontend/src/components/Editor/StudylogEditor.tsx
  frontend/src/components/FilterList/FilterList.styles.js
  frontend/src/components/FilterList/SelectedFilterList.js
  frontend/src/components/Introduction/Introduction.styles.js
  frontend/src/components/Items/PopularStudylogItem.styles.ts
  frontend/src/components/Items/PopularStudylogItem.tsx
  frontend/src/components/Items/StudylogItem.tsx
  frontend/src/components/index.js
  frontend/src/constants/errorCode.js
  frontend/src/constants/message.js
  frontend/src/constants/reactQueryKey.js
  frontend/src/contexts/UserProvider.js
  frontend/src/hooks/queries/filters.ts
  frontend/src/hooks/useMutation.js
  frontend/src/hooks/useRequest.js
  frontend/src/models/Studylogs.ts
  frontend/src/pages/EditPostPage/index.js
  frontend/src/pages/EditStudylogPage/index.js
  frontend/src/pages/EditStudylogPage/index.tsx
  frontend/src/pages/NewStudylogPage/index.js
  frontend/src/pages/NewStudylogPage/index.tsx
  frontend/src/pages/NewStudylogPage/styles.js
  frontend/src/pages/ProfilePage/StudylogOverviews.js
  frontend/src/pages/ProfilePageScraps/index.js
  frontend/src/pages/ProfilePageStudylogs/index.js
  frontend/src/pages/StudylogListPage/index.tsx
  frontend/src/service/requests.js
  frontend/src/styles/flex.styles.js
  frontend/src/styles/flex.styles.ts
  frontend/src/styles/layout.styles.ts
  frontend/src/utils/styles.ts
  frontend/yarn.lock
Labels: frontend
