Repository woowacourse/prolog, pull requests merged in 2022-02, with the labels that each got.

#689 [좋아요 버그] dev 서버 에러 발생
  backend/src/main/java/wooteco/prolog/studylog/domain/Like.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Likes.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogLikeController.java
Labels: bug, backend

#690 fix: 로그인 상태 이상을 해결한다.
  frontend/src/contexts/UserProvider.js
  frontend/src/pages/LoginCallbackPage/index.js
Labels: bug, frontend

#691 elasticsearch에서 사용하는 webflux를 제거했어요.
  backend/src/main/java/wooteco/prolog/common/WebClientConfig.java
  backend/src/main/java/wooteco/prolog/studylog/application/AbstractStudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/DocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/FakeStudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogDocumentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ClusterHealthResponses.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/ElasticHealthResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/IndexHealthResponses.java
  backend/src/main/java/wooteco/prolog/studylog/infrastructure/HealthCheckClient.java
  backend/src/main/java/wooteco/prolog/studylog/infrastructure/HealthCheckScheduler.java
  backend/src/main/java/wooteco/prolog/studylog/infrastructure/dto/ClusterHealth.java
  backend/src/main/java/wooteco/prolog/studylog/infrastructure/dto/IndexHealth.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogDocumentController.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
Labels: backend

#694 fix: 조회수가 2씩 증가하는 오류 수정
  frontend/src/pages/StudylogPage/index.js
Labels: hotfix

#696 hotfix(FE): 학습로그 삭제시 라우트 및 성공 메세지가 노출되지 않는 이슈 해결
  frontend/src/constants/message.js
  frontend/src/pages/StudylogPage/index.js
Labels: bug
