Repository woowacourse/prolog, pull requests merged in 2022-08, with the labels that each got.

#943 refactor: 인기있는 학습로그에서 스크랩 수 제거
  frontend/src/components/Items/PopularStudylogItem.styles.ts
  frontend/src/components/Items/PopularStudylogItem.tsx
  frontend/src/mocks/browser.js
  frontend/src/mocks/db/popularStudyLog.json
  frontend/src/mocks/fixture.js
  frontend/src/mocks/handlers.js
  frontend/src/models/Studylogs.ts
  frontend/src/pages/MainPage/PopularStudyLogList.tsx
  frontend/src/pages/MainPage/styles.ts
Labels: frontend, refactoring

#947 feat: 댓글 기능 구현
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/CommentAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/CommentStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/comment.feature
  backend/src/documentation/adoc/comment.adoc
  backend/src/documentation/adoc/index.adoc
  backend/src/documentation/java/wooteco/prolog/docu/CommentDocumentation.java
  backend/src/main/java/wooteco/prolog/common/AuditingEntity.java
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/studylog/application/CommentService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentChangeRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentCreateRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentMemberResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentSaveRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentUpdateRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentsResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Comment.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/CommentRepository.java
  backend/src/main/java/wooteco/prolog/studylog/exception/CommentDeleteException.java
  backend/src/main/java/wooteco/prolog/studylog/exception/CommentNotFoundException.java
  backend/src/main/java/wooteco/prolog/studylog/ui/CommentController.java
  backend/src/main/resources/static/index.html
  backend/src/test/java/wooteco/prolog/studylog/application/CommentServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/CommentTest.java
  backend/src/test/java/wooteco/prolog/studylog/domain/repository/CommentRepositoryTest.java
Labels: backend

#951 feat: 학습로그와 역량 매핑 오류 수정
  backend/src/main/java/wooteco/prolog/ability/domain/Ability.java
  backend/src/test/java/wooteco/prolog/report/domain/ablity/AbilityTest.java
Labels: bug

#958 feat: 학습로그 글쓰기 API 변경 - 글 작성 시점에 역량을 맵핑할 수 있다
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/StudylogAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/ability-studylog.feature
  backend/src/documentation/java/wooteco/prolog/docu/ReportDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/StudylogDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/ability/StudylogAbilityDocumentation.java
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/ability/application/AbilityService.java
  backend/src/main/java/wooteco/prolog/ability/application/StudylogAbilityService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogRequest.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogResponse.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/PopularStudylogServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
Labels: backend

#953 feat: 댓글 기능 구현
  frontend/src/apis/comment.ts
  frontend/src/apis/index.ts
  frontend/src/apis/studylogs.ts
  frontend/src/components/Comment/Comment.style.tsx
  frontend/src/components/Comment/Comment.tsx
  frontend/src/components/Comment/CommentList.style.tsx
  frontend/src/components/Comment/CommentList.tsx
  frontend/src/contexts/UserProvider.js
  frontend/src/hooks/Comment/useStudylogComment.ts
  frontend/src/hooks/queries/comment.ts
  frontend/src/hooks/useBeforeunload.ts
  frontend/src/index.js
  frontend/src/mocks/db/comments.json
  frontend/src/mocks/handlers/comment.ts
  frontend/src/mocks/handlers/index.ts
  frontend/src/models/Comment.ts
  frontend/src/pages/NewStudylogPage/index.tsx
  frontend/src/pages/StudylogPage/index.js
  frontend/src/pages/StudylogPage/styles.js
Labels: frontend

#969 학습로그 작성 시 역량 매핑 기능 Merge시, 발생한 충돌 에러 해결
  backend/src/documentation/java/wooteco/prolog/docu/CommentDocumentation.java
  backend/src/main/resources/static/index.html
Labels: bug, backend

#975 refactor: 댓글 스키마 변경에 따른 프로퍼티 명 변경
  frontend/src/components/Comment/Comment.tsx
  frontend/src/mocks/db/comments.json
  frontend/src/mocks/handlers/comment.ts
  frontend/src/models/Comment.ts
Labels: frontend, refactoring

#944 refactor: 인기있는 학습로그의 필터링 기능 추가
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/SessionAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/StudylogAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/GroupMemberStepDefinitions.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog-popular.feature
  backend/src/acceptanceTest/resources/wooteco/prolog/studylog.feature
  backend/src/documentation/java/wooteco/prolog/docu/MemberDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/StudylogDocumentation.java
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/member/domain/GroupMember.java
  backend/src/main/java/wooteco/prolog/member/domain/MemberGroup.java
  backend/src/main/java/wooteco/prolog/member/domain/MemberGroups.java
  backend/src/main/java/wooteco/prolog/member/domain/repository/GroupMemberRepository.java
  backend/src/main/java/wooteco/prolog/member/domain/repository/MemberGroupRepository.java
  backend/src/main/java/wooteco/prolog/studylog/application/PopularStudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/PopularStudylogsResponse.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogsResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/PopularStudylogController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/test/java/wooteco/prolog/member/domain/repository/GroupMemberRepositoryTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/PopularStudylogServiceTest.java
Labels: backend, refactoring

#976 fix: isDelete가 true일 경우 댓글이 조회되지 않도록 수정
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/CommentRepository.java
  backend/src/test/java/wooteco/prolog/studylog/domain/repository/CommentRepositoryTest.java
Labels: bug, backend

#974 chore: flyway에 comment DDL 추가
  backend/src/main/resources/db/migration/prod/V26__create_comment_table.sql
Labels: backend

#950 배지 생성 로직 개선 및 레벨3 배지 기능 추가
  backend/src/acceptanceTest/java/wooteco/prolog/steps/BadgesStepDefinitions.java
  backend/src/main/java/wooteco/prolog/badge/application/BadgeCreator.java
  backend/src/main/java/wooteco/prolog/badge/application/BadgeService.java
  backend/src/main/java/wooteco/prolog/badge/application/ComplimentKingBadgeCreator.java
  backend/src/main/java/wooteco/prolog/badge/application/PassionKingBadgeCreator.java
  backend/src/main/java/wooteco/prolog/badge/application/dto/BadgeResponse.java
  backend/src/main/java/wooteco/prolog/badge/application/dto/BadgesResponse.java
  backend/src/main/java/wooteco/prolog/badge/config/BadgeCreatorConfig.java
  backend/src/main/java/wooteco/prolog/badge/domain/Badge.java
  backend/src/main/java/wooteco/prolog/badge/domain/BadgeType.java
  backend/src/main/java/wooteco/prolog/badge/domain/FourthCrewSessions.java
  backend/src/main/java/wooteco/prolog/badge/ui/BadgeController.java
  backend/src/main/java/wooteco/prolog/studylog/application/BadgeService.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Badge.java
  backend/src/main/java/wooteco/prolog/studylog/domain/BadgeType.java
  backend/src/main/java/wooteco/prolog/studylog/ui/ProfileStudylogController.java
  backend/src/main/java/wooteco/prolog/update/UpdatedContentsRepository.java
  backend/src/test/java/wooteco/prolog/badge/application/BadgeServiceTest.java
Labels: backend, refactoring

#988 feat: 학습로그 수정 시 매핑된 역량 수정 기능 UI
  frontend/src/components/Editor/Sidebar.tsx
  frontend/src/components/Editor/StudylogEditor.tsx
  frontend/src/pages/EditStudylogPage/index.tsx
Labels: frontend

#987 feat: 리포트 작성 시 기간 선택에 따른 학습로그 매핑 UI
  frontend/src/components/ReportStudyLogs/ReportStudyLogs.styles.ts
  frontend/src/components/ReportStudyLogs/ReportStudyLogs.tsx
  frontend/src/hooks/queries/report.ts
  frontend/src/pages/ProfilePageNewReport/index.js
  frontend/src/pages/ProfilePageNewReport/style.js
  frontend/src/pages/ProfilePageReports/index.js
  frontend/src/pages/ProfilePageReportsList/index.tsx
  frontend/src/service/requests.js
Labels: frontend

#989 feat: 학습로그 수정시 역량도 같이 수정할 수 있는 기능
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/StudylogAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogAbilityStepDefinitions.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/StudylogStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/ability-create-retrieve.feature
  backend/src/acceptanceTest/resources/wooteco/prolog/ability-studylog.feature
  backend/src/main/java/wooteco/prolog/ability/domain/repository/StudylogAbilityRepository.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
Labels: backend

#981 refactor: EditStudylogPage, NewStudylogPage, StudylogListPage, StudylogPage Typescript 마이그레이션
  frontend/src/components/Comment/CommentList.tsx
  frontend/src/components/Items/StudylogItem.tsx
  frontend/src/components/ProfileChip/ProfilChip.styles.ts
  frontend/src/components/ProfileChip/ProfileChip.tsx
  frontend/src/components/Reaction/Like.tsx
  frontend/src/components/Reaction/Scrap.tsx
  frontend/src/models/Studylogs.ts
  frontend/src/pages/EditStudylogPage/index.tsx
  frontend/src/pages/NewStudylogPage/index.tsx
  frontend/src/pages/StudylogListPage/styles.ts
  frontend/src/pages/StudylogPage/Content.tsx
  frontend/src/pages/StudylogPage/index.tsx
  frontend/src/pages/StudylogPage/styles.ts
Labels: frontend, refactoring

#973 refactor: ProfilePageEditReport, ProfilePageNewReports, ProfilePageReports, ProfilePageReportsList typescript 마이그레이션
  frontend/src/components/Editor/SideBar/StudyLogSelectAbilityBox.js
  frontend/src/components/Reaction/Scrap.tsx
  frontend/src/hooks/Ability/useAbility.ts
  frontend/src/hooks/Ability/useParentAbilityForm.ts
  frontend/src/pages/EditStudylogPage/index.tsx
  frontend/src/pages/ProfilePageEditReport/index.tsx
  frontend/src/pages/ProfilePageNewReport/AbilityGraph.styles.ts
  frontend/src/pages/ProfilePageNewReport/AbilityGraph.tsx
  frontend/src/pages/ProfilePageNewReport/ReportDescEditor.tsx
  frontend/src/pages/ProfilePageNewReport/ReportInfo.styles.ts
  frontend/src/pages/ProfilePageNewReport/ReportInfo.tsx
  frontend/src/pages/ProfilePageNewReport/index.tsx
  frontend/src/pages/ProfilePageNewReport/style.ts
  frontend/src/pages/ProfilePageReports/AbilityGraph.tsx
  frontend/src/pages/ProfilePageReports/index.tsx
  frontend/src/pages/ProfilePageReports/styles.ts
  frontend/src/pages/ProfilePageReportsList/index.tsx
  frontend/src/pages/ProfilePageReportsList/styles.ts
Labels: frontend, refactoring
