Repository woowacourse/prolog, pull requests merged in 2022-09, with the labels that each got.

#1000 feat: 댓글 조회의 날짜 형식 변경
  backend/src/main/java/wooteco/prolog/common/AuditingEntity.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/CommentResponse.java
Labels: backend

#993 feat: 레벨로그 프론트엔드 구현
  frontend/src/apis/levellogs.ts
  frontend/src/assets/images/minus_icon.svg
  frontend/src/assets/images/plus_icon.svg
  frontend/src/components/Items/LevellogItem.styles.ts
  frontend/src/components/Items/LevellogItem.tsx
  frontend/src/components/Items/NewLevellogQnAInputItem.styles.ts
  frontend/src/components/Items/NewLevellogQnAInputItem.tsx
  frontend/src/components/Lists/LevellogList.styles.ts
  frontend/src/components/Lists/LevellogList.tsx
  frontend/src/components/Lists/NewLevellogQnAInputList.styles.ts
  frontend/src/components/Lists/NewLevellogQnAInputList.tsx
  frontend/src/components/NavBar/NavBar.js
  frontend/src/components/NavBar/NavBar.styles.js
  frontend/src/components/Reaction/Scrap.tsx
  frontend/src/constants/errorCode.js
  frontend/src/constants/message.js
  frontend/src/constants/path.js
  frontend/src/contexts/UserProvider.js
  frontend/src/hooks/Levellog/useEditLevellog.ts
  frontend/src/hooks/Levellog/useLevellog.ts
  frontend/src/hooks/Levellog/useLevellogList.ts
  frontend/src/hooks/Levellog/useNewLevellog.ts
  frontend/src/hooks/Levellog/useQnAInputList.ts
  frontend/src/hooks/queries/levellog.ts
  frontend/src/mocks/db/levellogs.js
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/levellog.ts
  frontend/src/models/Levellogs.ts
  frontend/src/pages/EditLevellogPage/index.tsx
  frontend/src/pages/LevellogListPage/index.tsx
  frontend/src/pages/LevellogListPage/styles.ts
  frontend/src/pages/LevellogPage/Content.js
  frontend/src/pages/LevellogPage/QnAList.styles.tsx
  frontend/src/pages/LevellogPage/QnAList.tsx
  frontend/src/pages/LevellogPage/index.tsx
  frontend/src/pages/LevellogPage/styles.tsx
  frontend/src/pages/NewLevellogPage/index.tsx
  frontend/src/pages/StudylogPage/Content.tsx
  frontend/src/routes.js
Labels: frontend

#982 레벨로그 기능 구현
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/LevellogFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/MemberFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/LevellogsStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/levellogs.feature
  backend/src/main/java/wooteco/prolog/DataLoaderApplicationListener.java
  backend/src/main/java/wooteco/prolog/common/exception/BadRequestCode.java
  backend/src/main/java/wooteco/prolog/levellogs/application/LevelLogService.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/LevelLogRequest.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/LevelLogResponse.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/LevelLogSummariesResponse.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/LevelLogSummaryResponse.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/SelfDiscussionRequest.java
  backend/src/main/java/wooteco/prolog/levellogs/application/dto/SelfDiscussionResponse.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/Content.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/LevelLog.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/SelfDiscussion.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/Title.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/repository/LevelLogRepository.java
  backend/src/main/java/wooteco/prolog/levellogs/domain/repository/SelfDiscussionRepository.java
  backend/src/main/java/wooteco/prolog/levellogs/exception/InvalidLevelLogAuthorException.java
  backend/src/main/java/wooteco/prolog/levellogs/exception/LevelLogNotFoundException.java
  backend/src/main/java/wooteco/prolog/levellogs/exception/SelfDiscussionNotFoundException.java
  backend/src/main/java/wooteco/prolog/levellogs/ui/LevelLogsController.java
  backend/src/main/java/wooteco/prolog/member/application/dto/MemberResponse.java
  backend/src/main/resources/static/index.html
  backend/src/test/java/wooteco/prolog/levellogs/application/LevelLogServiceTest.java
  backend/src/test/java/wooteco/prolog/levellogs/domain/LevelLogTest.java
  backend/src/test/java/wooteco/prolog/levellogs/ui/LevelLogsControllerTest.java
Labels: backend

#1002 fix: 댓글 작성 날짜 형식 수정
  frontend/src/components/Comment/Comment.tsx
Labels: enhancement, frontend

#998 feat: 특정 기간 동안 작성된 스터디로그 및 매핑된 역량 목록 조회 기능 추가
  backend/src/acceptanceTest/java/wooteco/prolog/fixtures/PostAcceptanceFixture.java
  backend/src/acceptanceTest/java/wooteco/prolog/steps/ReportStepDefinitions.java
  backend/src/acceptanceTest/resources/wooteco/prolog/report.feature
  backend/src/main/java/wooteco/prolog/ability/application/StudylogAbilityService.java
  backend/src/main/java/wooteco/prolog/ability/ui/StudylogAbilityController.java
  backend/src/main/java/wooteco/prolog/report/application/dto/StudylogPeriodRequest.java
Labels: backend

#1013 fix: 새로고침 시 로그인 풀리는 문제 해결
  frontend/src/contexts/UserProvider.js
Labels: bug

#1015 fix: localStorage 문제로 인한 기능 에러 해결
  frontend/src/apis/ability.ts
  frontend/src/contexts/UserProvider.js
  frontend/src/pages/EditStudylogPage/index.tsx
  frontend/src/pages/NewStudylogPage/index.tsx
  frontend/src/utils/localStorage.js
Labels: bug

#1034 fix: 내 학습로그에서 뒤로가기를 3번해야 작동하는 문제 해결
  frontend/src/pages/ProfilePageStudylogs/index.js
Labels: bug
