Repository woowacourse/prolog, pull requests merged in 2022-03, with the labels that each got.

#714 hotfix: 로그인 세션이 만료되었을때 홈화면에 글 리스트가 나오지 않는 이슈 수정
  frontend/src/hooks/useStudylog.js
  frontend/src/pages/MainPage/index.js
Labels: bug, frontend

#721 config: 리액트 쿼리를 도입한다.
  frontend/package.json
  frontend/src/App.js
  frontend/yarn.lock
Labels: frontend

#737 feat: RSS 피드 기능 구현
  backend/build.gradle
  backend/src/documentation/adoc/rssFeed.adoc
  backend/src/documentation/java/wooteco/prolog/docu/StudylogRssFeedDocumentation.java
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogRssFeedResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogRssFeedController.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogRssFeedView.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/domain/repository/StudylogRepositoryTest.java
Labels: backend

#747 fix: RSS 피드 기능에서 실패하는 테스트 수정
  backend/src/documentation/java/wooteco/prolog/docu/StudylogRssFeedDocumentation.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogRssFeedResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/Studylog.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogRssFeedView.java
  backend/src/main/resources/application-dev.yml
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
  backend/src/test/java/wooteco/prolog/studylog/studylog/application/StudylogServiceTest.java
  backend/src/test/java/wooteco/prolog/studylog/studylog/domain/repository/StudylogRepositoryTest.java
Labels: backend

#751 메인페이지에 인기있는 학습로그가 노출되지 않는 이슈 해결
  frontend/src/pages/MainPage/index.js
Labels: bug, frontend

#749 [API 문서 개선] 최신화
  backend/build.gradle
  backend/src/documentation/adoc/ability.adoc
  backend/src/documentation/adoc/index.adoc
  backend/src/documentation/adoc/level.adoc
  backend/src/documentation/adoc/login.adoc
  backend/src/documentation/adoc/profile.adoc
  backend/src/documentation/adoc/reaction.adoc
  backend/src/documentation/adoc/studylog.adoc
  backend/src/documentation/adoc/studylogOverview.adoc
  backend/src/documentation/java/wooteco/prolog/docu/LevelDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/MemberDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/ProfileDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/StudylogDocumentation.java
  backend/src/documentation/java/wooteco/prolog/docu/StudylogOverviewDocumentation.java
  backend/src/main/java/wooteco/prolog/studylog/ui/ProfileStudylogController.java
Labels: backend, refactoring
