Repository woowacourse/prolog, pull requests merged in 2022-01, with the labels that each got.

#621 [사용자리액션] 읽음 기능을 추가한다
  backend/src/main/java/wooteco/prolog/studylog/application/StudylogService.java
  backend/src/main/java/wooteco/prolog/studylog/application/dto/StudylogResponse.java
  backend/src/main/java/wooteco/prolog/studylog/domain/StudylogRead.java
  backend/src/main/java/wooteco/prolog/studylog/domain/repository/StudylogReadRepository.java
  backend/src/main/java/wooteco/prolog/studylog/ui/StudylogController.java
  backend/src/main/resources/db/migration/prod/V9__member_read_studylog_table_add.sql
  backend/src/test/java/wooteco/prolog/studylog/studylog/domain/repository/StudylogReadRepositoryTest.java
  frontend/src/App.js
  frontend/src/components/Lists/StudyLogList.tsx
  frontend/src/components/ProfileChip/ProfileChip.js
  frontend/src/hooks/useStudyLog.js
  frontend/src/pages/EditPostPage/index.js
  frontend/src/pages/MainPage/index.js
  frontend/src/pages/ProfilePage/index.js
  frontend/src/pages/ProfilePagePosts/index.js
  frontend/src/service/requests.js
  frontend/src/types/type.d.ts
Labels: backend

#643 fix: 조회수가 2씩 증가하는 이슈 수정
  frontend/src/pages/PostPage/index.js
  frontend/src/styles/flex.styles.js
Labels: bug

#645 fix: 로그인 처리 시 로딩상태가 반영되지 않고 바로 라우팅 시키는 이슈 해결
  frontend/src/pages/LoginCallbackPage/index.js
Labels: bug, frontend

#665 feat: elasticsearch auto healthcheck 비활성화
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-test.yml
Labels: backend

#667 [역량] 스터디로그-역량 매핑 데이터를 불러오지 못하는 버그를 해결한다.
  backend/src/main/java/wooteco/prolog/report/application/HistoryAbilityService.java
  backend/src/main/java/wooteco/prolog/report/domain/ablity/StudylogAbility.java
  backend/src/main/java/wooteco/prolog/report/domain/ablity/Studylogs.java
  backend/src/main/java/wooteco/prolog/report/domain/report/repository/StudylogAbilityRepository.java
Labels: backend

#674 fix: build 오류 해결
  frontend/package-lock.json
  frontend/src/components/Lists/StudyLogList.styles.ts
Labels: frontend
